@font-face {
    font-family: 'Megrim';
    src: url(fonts/Megrim.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Khula';
    src: url(fonts/Khula-SemiBold.ttf);
}

html {
    display: flex;
    flex-wrap: wrap;
}

body {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;

    margin: 0;
    padding: 0;
}

.first_window {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    height: 800px;
}

.main_photo {
    z-index: -1;
}

.vsite_head_words {
    display: flex;
    flex-wrap: wrap;

    position: relative;

    width: 1350px;
    height: 235px;
    bottom: 778px;
    left: 70px;
    gap: 0px;
    opacity: 0px;
}

.menu_button {
    background-image: url(images/Иконка-Выдвижное\ меню.png);
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    top: 22px;
}

.vsite_word {
    position: relative;
    width: 344px;
    height: 140px;
    left: 12px;
    gap: 0px;
    opacity: 0px;

    top: -22px;

    margin: 0px;
    padding: 0px;

    font-family: 'Megrim';
    font-size: 128px;
    font-weight: 500;
    line-height: 149.76px;
    text-align: left;

    color: white;
}

.left_buttons {
    list-style-type: none;
    position: relative;
    left: 940px;
    padding: 0;
    margin: 0;
    
}

.left_buttons li {
    margin-bottom: 46px;
}

.left_buttons li > button {
    border: none;
    background-color: white;
}

.trash_can_button {
    position: relative;

    background-image: url(images/Иконка-Корзина.png);
    width: 30px;
    height: 30px;
    left: -4px;
}

.person_account_button {
    position: relative;

    background-image: url(images/Иконка-Профиля.png);

    width: 20px;
    height: 20px;
}

.heart_button {
    position: relative;
    background-image: url(images/Иконка-Лайк.png);

    width: 22px;
    height: 22px;
}

.lens_button {
    position: relative;
    background-image: url(images/Иконка-Поиск.png);
    width: 25px;
    height: 25px;
}

.denim_text {
    position: relative;
    left: 60%;
    bottom: 95%;

    width: 581px;
    height: 185px;
    rotate: 90deg;

    font-family: 'Roboto';
    font-size: 180px;
    font-weight: 600;
    line-height: 210.94px;
    text-align: center;
    color: #D8D8D899;

    padding: 0;
    margin: 0;
}

.adresses {
    position: absolute;
    width: 174px;
    height: 67px;

    left: 70px;
    top: 671px;

    color: #000000B2;
    
    font-family: 'Roboto';
    font-size: 19px;
    font-weight: 400;
    line-height: 22.27px;
    text-align: left;
}

.adresses_href {
    color: #000000B2;
    text-decoration: none;
}

.point_and_arrows {
    position: absolute;
    width: 573px;
    height: 20px;
    top: 718px;
    left: 487px;
    gap: 0px;
    opacity: 0px;
}

.two_images {
    position: absolute;
    width: 1046.35px;
    height: 565px;
    top: 869px;
    left: 270px;
    gap: 0px;
    opacity: 0px;    
}

.mans_image {
    width: 516.09px;
    height: 565px;
}

.womans_image {
    position: relative;
    width: 516.09px;
    height: 565px;
    left: 15px;
}

.middle_text {
    position: absolute;
    width: 978px;
    height: 482px;
    top: 1537px;
    left: 246px;

    font-family: 'Khula';
    font-size: 18.5px;
    font-weight: 400;
    line-height: 25.69px;
    text-align: left;
}

.heading {
    font-family: 'Khula';
    font-size: 38px;
    font-weight: 800;
    line-height: 51.38px;
    text-align: left;

    width: 977px;
    height: 93px;
    margin-bottom: 30px;
    margin-top: 0px;
}
.first_pharagraf {
    width: 793px;
    height: 73px;
    margin-bottom: 30px;
}
.second_pharagraf {
    width: 755px;
    height: 101px;
    margin-bottom: 30px;
}
.third_pharagraf {
    width: 716px;
    height: 48px;
    margin-bottom: 30px;
}
.third_pharagraf a {
    text-decoration: none;
    color: grey;
}

.end_text {
    width: 793px;
    height: 73px;
    font-weight: 900;
}

.subscribe_text {
    position: absolute;
    width: 1047px;
    height: 418px;
    top: 2148px;
    left: 270px;
    background: #CBCBCB33;

    text-align: center;
    font-family: 'Khula';

}

.subscribe_us_text {

    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 700;
    line-height: 51.38px;
    text-align: center;
}

.discount_info_text {

    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
    line-height: 20.87px;

    color: #000000;    
}

.email_button {
    position: relative;

    width: 200px;
    height: 65px;

    border: 1px 0px 0px 0px;
    background: #F5F5F5;
    border: 1px solid #0000004A;

    margin-right: 45px;

    font-size: 20px;
}

.subscribe_button {
    position: relative;
    width: 200px;
    height: 65px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #000000;
    border: 1px solid #000000;
    
    margin-left: 45px;

    color: #FFFFFF;

    font-size: 20px;
}

.confidence_policy {
    font-family: 'Roboto';
    font-size: 10px;
    font-weight: 300;
    line-height: 9.38px;
    text-align: center;
    color: #828282;
    
    margin-top: 50px;
}

.footer_hrefs {
    position: absolute;
    width: 798px;
    height: 459px;
    top: 2692px;
    left: 270px;
    list-style-type: none;
}

.for_buyers {
    display: inline-block;
    width: 248px;
    height: 459px;

    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;

    list-style-type: none;
    margin-right: 182px;
    
}

.about_company {
    display: inline-block;
    width: 248px;
    height: 142px;

    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;

    list-style-type: none;

    position: relative;
    bottom: 62.5%;
}

.for_buyers li {
    line-height: 36px;
}

.for_buyers a {
    text-decoration: none;
    color: #000000;
}

.about_company li {
    line-height: 36px;
}

.about_company a {
    text-decoration: none;
    color: #000000;
}

.tg_logo {
    position: absolute;
    background-image: url(images/Telegram\ App.png);
    width: 30px;
    height: 30px;
    top: 3308px;
    left: 270px;
}

.vk_logo {
    position: absolute;
    background-image: url(images/VK\ Circled.png);
    width: 30px;
    height: 30px;
    top: 3308px;
    left: 350px;
}

.inst_logo {
    position: absolute;
    background-image: url(images/Instagram.png);
    width: 30px;
    height: 30px;
    top: 3308px;
    left: 430px;
}

.app_logo {
    position: absolute;
    background-image: url(images/Apple\ Logo.png);
    width: 40px;
    height: 40px;
    top: 3298px;
    left: 644px;
}

.dowload_appstore {
    position: absolute;
    width: 97px;
    height: 39px;
    top: 3286px;
    left: 684px;
}

.dowload_appstore span {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: left;
}

.googleplay_logo {
    position: absolute;
    background-image: url(images/Google\ Play.png);
    width: 40px;
    height: 40px;
    top: 3298px;
    left: 965px;
}

.dowload_googleplay {
    position: absolute;
    width: 166px;
    height: 36px;
    top: 3288px;
    left: 1014px;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 300;
    line-height: 15.23px;
    text-align: left;
}

.dowload_googleplay span {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: left;
}
